<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carte d'Étudiant</title>
    <link rel="stylesheet" href="../template%20cartes/template%20cartes/style.css">
</head>
<body class="carteetu">
    <div class="carte">

        
        <div class="ministere">MINISTERE DE L'ENSEIGNEMENT SUPERIEUR</div>

        
        <img src="../../static/images/Logo%20Institut%20USJ%20INGENIEUR%20(1).png" class="logoetu" alt="Logo institut" />
        
        <img src="../../static/images/drapeau+band.png" class="drapeau" alt="Logo institut" />

        <div class="specialite">
            GENIE ELECTRIQUE
        </div>
        <div class="annee">Année Académique 2025-2026</div>

        
        
        <img src="../../static/images/cadre.png" class="cadre-photo">

        <div class="infos">
            <p>Matricule : <span id="cardMatricule"></span></p>
            <p>Né(e) le : <span>à</span></p>
            <p>Spécialité : </p>
            <p>Sexe : </p>
        </div>

        <!-- QR code -->
        <img src="../../static/images/Code%20QR.jpg" class="qr" alt="QR Code" />

        <div class="signature">LE DIRECTEUR</div>

        <!-- Pied de page -->
        <div class="footer">CARTE D'ETUDIANT</div>
</div>

</body>
</html>